.header {
    display: flex;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 -12px;
}

.navigation {
    margin-left: 5rem;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    list-style: none;
}

.nav-item:not(:first-child) {
    margin-left: 1rem;
}

.nav-item a {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s;
}

.app-title {
    color: #fff;
    text-decoration: none;
}